body {
  font-family: Verdana, Arial, sans-serif;
  background-color: rgb(238, 241, 243);
  margin: 0;
  padding: 0;
}

.navbar {
  /* position: fixed; */
  background-color: #000;
  overflow: hidden;
  width: 100%;
}

.navbar a {
  float: right;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding: 10px
}

.navbar-right {
  padding: 10px 12px; /* Adjust the padding values as needed */
  display: inline;
}

.navbar-left {
  float: left;
  padding:0px 0px
}

.navbar a:hover {
  background-color: #555;
}

.movieDetails {
  display: inline-block;
  padding: 5px 10px;
}

.reviews {
  padding: 5px 10px;
}

.addMovie {
  display: inline-block;
  padding: 5px 10px;
}
  
.login {
  position: absolute;
  top: 25px;
  right: 15px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #e45252;
  text-decoration-thickness: 3px;
}

.container {
  margin: 0 auto;
  margin-top: 50px;
  width: 400px;
  height: auto;
  background-color: white;
  border-radius: 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.login-heading {
  color: black;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
}

.h1 {
    color: black;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
}

.rectangle {
  border: 3px solid #e45252;
  height: 58px;
  text-align: left;
  border-radius: 28px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.username {
  color: black;
  font-size: 20px;
  font-weight: bold;
  line-height: 58px;
  padding-left: 15px;
}

.password {
  color: black;
  font-size: 20px;
  font-weight: bold;
  line-height: 58px;
  padding-left: 15px;
}

.button {
    background-color: #e45252;
    color: white;
    font-size: 25px;
    font-weight: bold;
    line-height: 58px;
    padding: 0 20px;
    border-radius: 24px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border: none;
  }

.register-text {
  text-align: center;
  font-size: 25px;
}

.register-text span {
  font-weight: bold;
  color: black;
}

.movie {
  width: calc(100% / 6 - 40px); /* Adjust the width to evenly distribute the movies */
  margin: 20px;
  text-align: center;
  color: #fff;
  display: inline-block; /* Use inline-block instead of flex */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a slight drop shadow */
}
.poster {
  width: 100%;
  height: 400px; /* Increase the height to accommodate the movie title */
  background: #000;
  margin-bottom: 10px;
  border-radius: 35px;
  overflow: hidden;
  position: relative; /* Position the movie title */
  object-fit: cover; /* Adjust the movie poster fit */
}
.poster img {
  width: 200px; /* Set the fixed width */
  height: 300px; /* Set the fixed height */
  border-radius: 20px;
  object-fit: cover; /* Adjust the image fit */
  /* margin-top: 20px; Add margin to the top of the image */
}
.movie a {
  position: absolute;
  bottom: 10px; /* Add margin of 5px from the bottom */
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7); /* Add background color to make the text more readable */
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #e45252; /* Set the color of the movie title */
  box-sizing: border-box;
  text-decoration: none; /* Remove underline */
}
.movie-row {
  display: flex;
  justify-content: space-between;
}
.movie:hover {
  box-shadow: 0 0 20px rgba(255,255,255,0.5);
}



