body {
  font-family: Verdana, Arial, sans-serif;
  background-color: lightblue;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #000;
  overflow: hidden;
  width: 100%;
}

.navbar a {
  float: right;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.navbar-left {
  float: left;
}

.navbar a:hover {
  background-color: #555;
}

.movieDetails {
  display: inline-block;
  padding: 5px 10px;
}

.reviews {
  padding: 5px 10px;
}

.addMovie {
  display: inline-block;
  padding: 5px 10px;
}
  
.login {
  position: absolute;
  top: 25px;
  right: 15px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #C049F8;
  text-decoration-thickness: 3px;
}

.container {
  margin: 0 auto;
  margin-top: 50px;
  width: 400px;
  height: auto;
  background-color: white;
  border-radius: 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.login-heading {
  color: black;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
}

.h1 {
    color: black;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
}

.rectangle {
  border: 3px solid #C049F8;
  height: 58px;
  text-align: left;
  border-radius: 28px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.username {
  color: black;
  font-size: 20px;
  font-weight: bold;
  line-height: 58px;
  padding-left: 15px;
}

.password {
  color: black;
  font-size: 20px;
  font-weight: bold;
  line-height: 58px;
  padding-left: 15px;
}

.button {
    background-color: #C049F8;
    color: white;
    font-size: 25px;
    font-weight: bold;
    line-height: 58px;
    width: 100%;
    padding: 0 20px;
    border-radius: 24px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border: none;
  }

.register-text {
  text-align: center;
  font-size: 25px;
}

.register-text span {
  font-weight: bold;
  color: black;
}



